@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
    display: none;
}

* {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.line-t {
    @apply border-t-white/20 border-t-[1px]
}
.line-b {
    @apply border-b-white/20 border-b-[1px]
}


.accent-ring {
    background: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
}
